<h1>Your Text Analysis</h1>

<h2>Number of Words: <%= @analyzed_text.text.split(" ").count %> </h2>

<h2>Vowels: <%= @analyzed_text.text.scan(/[aeiou]/i).length %> </h2>

<h2>Consonants: <%= @analyzed_text.text.scan(/[bcdfghjklmnpqrstvwxyz]/i).length %> </h2>

<h2>Most Common Letter: <%= @analyzed_text.most_used_letter.keys[0].upcase %>, used <%= @analyzed_text.most_used_letter.values[0]  %> times</h2>  

